
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>



<main layout:fragment="content">
	<div th:each="cartItemDto : ${cartItemDtoList}">

		<input type="checkbox" name="cartChkBox" th:value="${cartItemDto.cartItemId}">
		<div class="repImg">
			<img style="width:100px;height:100px;" th:src="${cartItemDto.imgUrl}" th:alt="${cartItemDto.subject}">
		</div>

		<div th:text="${cartItemDto.subject}"></div>
		<div th:text="${cartItemDto.size}"></div>
		<div th:text="${cartItemDto.color}"></div>
		<div th:text="${cartItemDto.count}"></div>
		<div th:text="${cartItemDto.price}"></div>

	</div>

</main>

</html>