
<html layout:decorate="~{layout}">
<head>

	<meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="category_meta" th:content="${category}"/>
	<script src="/jquery-3.6.3.min.js"></script>
</head>


<div layout:fragment="content">
	
	
	<div style="margin:0 auto;width:fit-content;"><span th:text="${category}" style="font-size:50px;"></span></div>
	<select id="sort" onchange="selectSort()" class="form-select form-select-sm" aria-label=".form-select-sm example">
  		<option value="1">최신순</option>
  		<option value="2">높은가격순</option>
  		<option value="3">낮은가격순</option>
  		<option value="4">인기순</option>
	</select>
	
	
	<div class="album py-5 bg-light">
	
    <div class="container">
		
	  
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="test">
	  
	    </div>
	    <div class="test">
	  
	    </div>
	    <div class="test">
	  
	    </div>
	    <div class="test">
	  
	    </div>
	    <div class="test">
	  
	    </div>
	    <div class="test">
	  
	    </div>
	    <div class="test">
	  
	    </div>
	    <div class="test">
	  
	    </div>
	    <div class="test">
	  
	    </div>
      </div>
    </div>
  </div>
	<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)" >1</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)" >2</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)" >3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


</div>

<script layout:fragment="javascriptContent">
	
	const sort = document.getElementById('sort');
	const test = document.getElementsByClassName('test');
	var page ="1";
	for(let i = 1 ; i < document.getElementsByClassName('page-link').length-1 ; i++){
		
		document.getElementsByClassName('page-link')[i].addEventListener('click', function(){   // 이벤트 리스너 부분
			console.log(this.text);
			page=this.text;
			selectSort();
	    })
	}
	
	function selectSort() {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var categorys = $("meta[name='category_meta']").attr("content");
        
        var url = "/test";
        var paramData = {
            sort : sort.value,
            category : categorys,
            page : page
        };

        var param = JSON.stringify(paramData);

        $.ajax({
            url      : url,
            type     : "POST",
            contentType : "application/json",
            data     : param,
            beforeSend : function(xhr){
                xhr.setRequestHeader(header, token);
            },
            dataType : "json",
            cache   : false,
            success  : function(result){
            	
            	for(let i = 0 ; i<result.length;i++){
                	test[i].innerHTML='<div class="col"><div class="card shadow-sm"><a href="/detailorder/'+result[i].itemId +'"><image src="'+ result[i].url +'" style="width=100%;height=100%;object-fit:cover;width:100%;height:225px;"></a><div class="card-body"><p class="card-text">물품이름:'+result[i].subject+'<br>물품가격:'+result[i].price+'<br>찜한사람:'+result[i].favorListNum+'<br><div if="'+result[i].isFavor+'">'+result[i].isFavor+'</div></p><div class="d-flex justify-content-between align-items-center"><div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">View</button><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></div><small class="text-muted">9 mins</small></div></div></div></div>';
            	}
            	for(let i=result.length ; i <9 ; i++ ){
            		test[i].innerHTML='';
            	}
            	
            	console.log(result);
            	
            }
            
        });
    }
	
	window.onload=selectSort;
	
	
</script>


</html>