<html layout:decorate="~{layout}">
<head>
	<script src="/jquery-3.6.3.min.js"></script>
</head>

<div layout:fragment="content">
	
	<div th:id="@{|box_${favorDto.favorId}|}" th:each="favorDto:${favorDtoList}">
	
		<img style="width:100px;height:100px;" th:src="${favorDto.imgUrl}">
		<span>이름:</span><span th:text="${favorDto.subject}"></span>
		<span>가격:</span><span th:text="${favorDto.price}"></span>
		
		<a th:href="@{|/detailorder/${favorDto.id}|}">구매하러 가기</a>
		<button th:onclick="@{|favorDeleteAjax(${favorDto.favorId})|}">찜 삭제</button>
	</div>

<script layout:fragment="javascriptContent">

	function favorDeleteAjax(id){
		$.ajax({
		    url      : "/deleteFavor",
		    type     : "GET",
		    data     : {"favorId":id},
		    dataType : "text",
		    cache   : false,
		    success  : function(result){
		    	alert(result)
		    	document.getElementById('box_'+id).style.display="none";
		    }
		});
	}
</script>

</div>
</html>