<!DOCTYPE html>
<html>
<head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<script src="/jquery-3.6.3.min.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>회원가입</h1>
<form th:action="@{/member/create}" th:object="${memberCreateForm}" method="post">
<div role="alert" th:if="${#fields.hasAnyErrors()}">
	<div th:each="err:${#fields.allErrors()}" th:text="${err}"></div>
</div>
<table>
	<tr><td>이메일</td><td><input type="email" name="username" id="username"></td><td><a onclick="idCheck()">이메일 중복확인</a></td></tr>
	<tr><td>비밀번호</td><td><input type="password" name="password1"></td><td id="result"></td></tr>
	<tr><td>비밀번호 확인</td><td><input type="password" name="password2"></td></tr>
	<tr><td>닉네임</td><td><input type="text" name="nickName"></td></tr>
	<tr><td>주소</td><td><input type="text" id="sample6_postcode" placeholder="우편번호" name="addr1">
		<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
		<input type="text" id="sample6_address" placeholder="주소" name="addr2"><br>
		<input type="text" id="sample6_detailAddress" placeholder="상세주소" name="addr3">
		<input type="text" id="sample6_extraAddress" placeholder="참고항목" name="reference"></td></tr>
	<tr><td>휴대폰 번호</td><td><input type="number" name="phoneNum"></td></tr>
	<tr><td><input type="submit" value="제출하기"></td></tr>
</table>
</form>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {

                var addr = ''; 
                var extraAddr = ''; 
                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }
                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>

<script>
	const idCheck = () => {
	var username = $('#username').val();
	 var token = $("meta[name='_csrf']").attr("content");
     var header = $("meta[name='_csrf_header']").attr("content");
	$.ajax({
		url:'/member/ajaxtest',
		type:'post',
		data:{"username":username}, 
		beforeSend : function(xhr){
            xhr.setRequestHeader(header, token);
        },
		success:function(res){
			if(res==0){
				$('#result').text("사용가능한 이메일 입니다.");
			}else if(res==1){
				$('#result').text("이미사용중인 이메일 입니다.");
			}else if(res==2){
				$('#result').text("이메일을 입력해 주세요.");	
				$('#username').focus();
			}
		},error:function(){
			alert("에러입니다.")
		}
		
	})
	}
	
</script>


</body>
</html>