<html layout:decorate="~{layout}">
<head>
<script src="/jquery-3.6.3.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<center layout:fragment="content" style="margin:70px 0px 430px 0px;">

<h2 style="margin-bottom:40px;">회원 탈퇴</h2>

<form th:action="@{/member/delete}" method="post">

	<div class="input-group input-group-sm mb-3" style="margin-top:10px;">
				<span style="width:250px; text-align:center;" class="input-group-text" id="inputGroup-sizing-sm">비밀번호를 입력해 주세요</span>
				<input type="password" name="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
	</div>
	
	<label for="password">비밀번호를 입력해 주세요</label>
	<input type="password" name="password"><br>
	<button class="btn btn-primary" style="background-color:#2E75B6; margin-top:10px; border:1px solid #2E75B6;">탈퇴하기</button>
</form>
</center>
</html>