<html layout:decorate="~{layout}">
<head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<script src="/jquery-3.6.3.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>
input::placeholder {
  color: red;
  font-style: italic;
}
textarea::placeholder {
  color: blue;
  font-weight: bold;
  }
</style>
</head>

<div layout:fragment="content">
<center>
<h1>회원가입</h1>
<form th:action="@{/member/create}" th:object="${memberCreateForm}" method="post">
<div style="width:500px;margin:0 auto;">

	<div class="input-group input-group-sm mb-3">
				<span style="width:110px;text-align:center" class="input-group-text" id="inputGroup-sizing-sm">이메일</span>
				<input type="email" id="username" name="username" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
		<button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="idcheck()">중복확인및 인증번호 발송</button>
	</div>
	<div id="result" role="alert">
  		<a id="dupli"></a><a id="checkresult"></a>
	</div>
	<div>
		<a>이메일 체크</a><input type="text" id="check"><a onclick="check2()">인증번호 확인</a><a id="checkresult2"></a>
	</div>
	<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger" role="alert">
  	
	</div>
	
	<div class="input-group input-group-sm mb-3">
				<span style="width:110px;" class="input-group-text" id="inputGroup-sizing-sm">비밀번호</span>
				<input type="password" name="password1" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
	</div>
	<div th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}" class="alert alert-danger" role="alert">
  	
	</div>
	
	
	
	
	<div class="input-group input-group-sm mb-3">
	 		<span style="width:110px;" class="input-group-text" id="inputGroup-sizing-sm">비밀번호 확인</span>
	 		<input type="password" name="password2" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
	</div>
	
	
	
	<div class="input-group input-group-sm mb-3">
				<span style="width:110px;" class="input-group-text" id="inputGroup-sizing-sm">닉네임</span>
				<input type="text" name="nickName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
	</div>
	<div th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}" class="alert alert-danger" role="alert">
  	
	</div>
	<div class="input-group input-group-sm mb-3">
				<span style="width:110px;" class="input-group-text" id="inputGroup-sizing-sm">주소</span>
				<input placeholder="우편번호" id="sample6_postcode" type="text" name="addr1" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
		<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
	</div>
	
	
	
	<div class="input-group input-group-sm mb-3">
				<input placeholder="주소" type="text" id="sample6_address" name="addr2" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
				<input placeholder="참고항목" type="text" id="sample6_extraAddress" name="reference" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
	</div>
	<div class="input-group input-group-sm mb-3">
				<input placeholder="상세주소" type="text" id="sample6_detailAddress" name="addr3" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
	</div>
	<div th:if="${#fields.hasErrors('addr2')}" th:errors="*{addr2}" class="alert alert-danger" role="alert">
  	
	</div>
	
	<div class="input-group input-group-sm mb-3">
				<span style="width:110px;" class="input-group-text" id="inputGroup-sizing-sm">전화번호</span>
				<input placeholder="000-0000-000" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');" type="text" name="phoneNum" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
	</div>
	<div th:if="${#fields.hasErrors('phoneNum')}" th:errors="*{phoneNum}" class="alert alert-danger" role="alert">
  	
	</div>
	
	
		<td><input type = "hidden" id="submit" value="제출하기"></td>
	
</div>

</form>
</center>
</div>

<script layout:fragment="javascriptContent">
	function email_check(email) {
	
		var reg = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
	
		return reg.test(email);
	
	}
	
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {

                var addr = ''; 
                var extraAddr = ''; 
                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }
                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }

    const submit = () =>{
		var res = "인증성공"
	if($('#checkresult2')===res){
		
	}else{
		alert("이메일 인증을 다시해주세요.")
		return false;
	}
	}

	var result= "";


	const idcheck = () => {
	var username = $('#username').val();
	 var token = $("meta[name='_csrf']").attr("content");
     var header = $("meta[name='_csrf_header']").attr("content");
	
     var email = $('#username').val();

     if(email==""){
    	$('#dupli').text("이메일을 입력해 주세요.");
     	return false;
     }else{
     		$.ajax({
     			url:'/member/ajaxtest',
     			type:'post',
     			data:{"username":username}, 
     			beforeSend : function(xhr){
     	            xhr.setRequestHeader(header, token);
     	        },
     			success:function(res){
     				
     				if(res==0){
     					$('#dupli').text("사용가능한 이메일 입니다.");
     					$('#dupli').removeClass("alert alert-danger");
     					$('#dupli').addClass("alert alert-success");
     					$.ajax({
     						url:'/emailConfirm',
     						type:'post',
     						data:{"email": email},
     						beforeSend : function(xhr){
     					            xhr.setRequestHeader(header, token);
     					    },
     					    success:function(res){
     					    	$('#checkresult').text("인증번호가 발송되었습니다.");
     					     	result = res;
     					    		
     					    },error:function(){
     					    	alert("에러입니다.")
     					    }
     					})
     					
     					
     				}else if(res==1){
     					$('#dupli').text("이미사용중인 이메일 입니다.");
     				}else if(res==2){
     					$('#dupli').text("이메일을 입력해 주세요.");
     					$('#username').focus();
     				}
     			},error:function(){
     				alert("에러입니다.")
     			}
     			
     		})
     		}
     	}
     
     
     const inrollSubmit = () => {
    	 
     }
	
	const check2 = () =>{
		var check = $('#check').val();
		if(result===check){
			$('#checkresult2').text("인증성공");
			$('#submit').attr("type","submit")
		}else{
			alert("인증번호가 다릅니다.")
			$('#checkresult2').text("인증실패");
		}
		
	}
	
</script>


</html>