<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout}">
<head>	
</head>
<center layout:fragment="content" style="margin:70px 0px 430px 0px;">

<h2 style="margin-bottom:40px;">비밀번호 변경</h2>

	<form style="width:1000px;margin:0 quto;" th:action="@{/member/modify/password}" th:object="${memberModifyPasswordForm}" method="post">
	<div role="alert" th:if="${#fields.hasAnyErrors()}">
		<div th:each="err:${#fields.allErrors()}" th:text="${err}"></div>
	</div>
	
	<div class="input-group input-group-sm mb-3" style="margin-top:10px;">
				<span style="width:150px;" class="input-group-text" id="inputGroup-sizing-sm">현재 비밀번호</span>
				<input type="password" th:field="*{password1}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
	</div>
	<div class="input-group input-group-sm mb-3" style="margin-top:10px;">
				<span style="width:150px;" class="input-group-text" id="inputGroup-sizing-sm">변경할 비밀번호</span>
				<input type="password" th:field="*{password2}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
	</div>
	<div class="input-group input-group-sm mb-3" style="margin-top:10px;">
				<span style="width:150px;" class="input-group-text" id="inputGroup-sizing-sm">비밀번호 확인</span>
				<input type="password" th:field="*{password3}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
	</div>
	
	<button class="w-100 btn btn-lg btn-primary" type="submit" style="background-color:#2E75B6; margin:10px 0px; border:1px solid #2E75B6;">변경하기</button>
	
	<!-- <div>
	<label for="password1">
		현재 비밀번호
	</label>
	<input type="password" th:field="*{password1}">
	</div>
	<div>
	<label for="password2">
		변경할 비밀번호
	</label>
	<input type="password" th:field="*{password2}">
	</div>
	<div>
	<label for="password3">
		비밀번호 확인
	</label>
	<input type="password" th:field="*{password3}">
	</div>
	<input type="submit" value="제출"> -->
	
	</form>
</center>
</html>