<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout}">
<head>	
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<script src="/jquery-3.6.3.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<center layout:fragment="content" style="margin:70px 0px 250px 0px;">
	<h2>비밀번호 재설정</h2>
	
	<div style="width:600px;margin:0 quto;margin-top:50px;" class="input-group input-group-sm mb-3">
		<span style="width:110px; text-align:center;" class="input-group-text" id="inputGroup-sizing-sm">E-mail</span>
		<input type="email" name="username" id="username" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
		<button class="btn btn-outline-secondary" type="button" id="submit"  onclick="idcheck()">비밀번호 변경</button>
	</div>
	
	<div>
		
		<button onclick="location.href='/member/login'" type="button" class="btn btn-outline-primary.btn-outline-*"
		style="color:#2E75B6; border:solid 1px #2E75B6; width:120px;">LOGIN</button>
		<button onclick="location.href='/member/create'" type="button" class="btn btn-outline-primary.btn-outline-*"
		style="color:#2E75B6; border:solid 1px #2E75B6; width:200px;">CREATE ACCOUNT</button>
	</div>
	<script>
	const idcheck = () => {
		var username = $('#username').val();
		 var token = $("meta[name='_csrf']").attr("content");
	     var header = $("meta[name='_csrf_header']").attr("content");
		
	     $.ajax({
	     	url:'/member/compulsion/password',
	     	type:'post',
	     	data:{"username":username}, 
	     	beforeSend : function(xhr){
	                xhr.setRequestHeader(header, token);
	            },
	     	success:function(res){
	     		if(res==0){
	     			$('#result').text("가입되어있지 않은 사용자 입니다. 회원가입을 해주세요")
		 		}else if (res==1){
	     			$('#result').text("이메일로 비밀번호를 발송했습니다. 이메일을 확인해주세요")
	     		}else if(res == 2){
	     			$('#result').text("소셜 로그인 되었습니다. 구글이나 네이버로 로그인 해주세요")
	     		}
	     	},error:function(){
	     		alert("에러입니다.")
	     	}
	     			
	     })
	}
	     
	</script>
</center>
</html>