<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout}">
<head>	
</head>
<div layout:fragment="content">

	<form th:action="@{/member/modify/password}" th:object="${memberModifyPasswordForm}" method="post">
	<div role="alert" th:if="${#fields.hasAnyErrors()}">
		<div th:each="err:${#fields.allErrors()}" th:text="${err}"></div>
	</div>
	<div>
	<label for="password1">
		현재 비밀번호 입력
	</label>
	<input type="password" th:field="*{password1}">
	</div>
	<div>
	<label for="password2">
		변경 할 비밀번호 입력
	</label>
	<input type="password" th:field="*{password2}">
	</div>
	<div>
	<label for="password3">
		변경될 비밀번호 확인
	</label>
	<input type="password" th:field="*{password3}">
	</div>
	<input type="submit" value="제출">
	
	</form>
</div>
</html>