<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">


	<div class="board" style="align-items: center;">
		<form th:action="@{|/question/create/${item.id}|}" th:object="${questionForm}" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<div class="mb-3">
				<div class="subject">
					<label for="subject">제목</label> <input
						type="text" th:field="*{subject}" class="form-control" />
				</div>
				<div class="content">
					<label for="content" >내용</label>
					<textarea th:field="*{content}" class="form-control"></textarea>
				</div>
				<div class="write-btn" >
					<select class="form-select" th:field="*{secret}">
						<option value='Y'>공개글</option>
						<option value='N'>비밀글</option>
					</select>
				</div>
				<input type="submit" value="등록" class="write-btn" />
				<button type="button" value="취소" class="cancel">취소</button>
		</form>
	</div>
</div>

</html>